/* Global styles */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&family=Open+Sans:wght@400&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #F9F9F9;
}

.sidenav {
  width: 17%;
  height: 1024px;
  background-color: #ffffff;
  box-shadow: 2px 0 10px rgba(233, 233, 233, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  z-index: 200;
}

.logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 30px;
}

.logo {
  width: 50.94px;
  height: 35px;
}

.logo-text {
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  font-size: 24px;
  color: #0F4264;
  margin-left: 10px; 
}

.nav-links {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centers all links inside the nav */
  width: 100%;
  font-size: 18px;
  padding: 0;
}

.nav-link {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #818181;
  padding: 7px 12px;
  margin: 5px 0;
  text-decoration: none;
  width: 80%; 
  display: flex;
  align-items: center;
  justify-content: flex-start; 
  gap: 1px; 
  transition: background-color 0.3s, color 0.3s;
  border-radius: 17px; 
}

.nav-link:hover {
  background-color: #f3f3f3;
}

.nav-link.active {
  background-color: #2196F3;
  color: #EBEBEB;
}

.nav-link:active {
  background-color: #e0e0e0;
}

.nav-icon {
  width: 24px; 
  height: 24px; 
  padding-left: 35px;
  margin-right: 15px; 
}

.logout-link {
  margin-top: 500px;
  font-weight: bold;
}

.notification-container {
    position: relative;
    background: white;
    z-index: 99;
    box-shadow: 20px 0 10px rgba(190, 190, 190, 0.1);
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .notification-icon {
    position: absolute;
    top: 25px;
    right: 60px;
    z-index: 1000;

    cursor: pointer;
  }
  
  .bell-icon {
    width: 28px;
    height: 28px;
    stroke: #0F4264;
  }
  
  .notification-icon:hover .bell-icon {
    stroke: #2196F3;
  }
  
  .notif-badge {
    position: absolute;
    top: -5px;
    right: -5px;
    background: red;
    color: white;
    font-size: 12px;
    font-weight: bold;
    padding: 2px 6px;
    border-radius: 50%;
  }
  
  .notif-dropdown {
    position: absolute;
    top: 40px;
    right: 0;
    width: 250px;
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  .notif-item {
    padding: 10px;
    font-size: 14px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
  }
  
  .notif-item:hover {
    background: #f0f0f0;
  }
  
  .notif-empty {
    padding: 10px;
    font-size: 14px;
    text-align: center;
    color: #888;
  }
  